<div class="row">
  <div class="col-md-8">

   <h1><%= @wiki.title %></h1> 

     <% if current_user %>
      <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
      <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %> 
      <% end %>

       <% if current_user.premium? %>
      <%= link_to "Add/Remove Collaborators", wiki_collaborators_path(@wiki), class: 'btn btn-info' %>
      <% end %>
   <p><%= @wiki.body %></p>
      
  </div>
